@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
/* @font-face {
  font-family: "YESMyoungjo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */

/**
#FAF8F1
#FAEAB1
#E5BA73
#C58940
*/

* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  /* height: 54px; */
  background: rgb(28, 116, 233);
  background: rgb(229, 186, 115);
  background: linear-gradient(
    90deg,
    rgba(229, 186, 115, 1) 0%,
    rgba(250, 234, 177, 1) 100%
  );
  justify-content: space-between;
  width: 100%;
  z-index: 99;
  /* position: fixed; */
}
header > .header-wrap {
  width: 1200px;
  margin: 0px auto;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
header > .header-wrap > a {
  color: #c58940;
  font-size: 24px;
  font-weight: bold;
}
header > .header-wrap > button {
  color: white;
  border: none;
  background-color: #c58940;
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}
header > .header-wrap > button:hover {
  background-color: #caa06c;
  color: white !important;
}
header > .mindpang-menu-wrap {
  border-bottom: 1px solid #d9d9d9;
  background-color: #faf8f1;
}
header > .mindpang-menu-wrap > .mindpang-menu {
  background-color: #faf8f1;
  margin: 0px auto;
  width: 1200px;
  height: 46px;
  padding: 0 10px;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  margin-top: -2px;
}
.logo-image {
  width: 30px;
  height: 30px;
  margin-top: -8px;
  margin-left: 4px;
  display: inline;
}
.menu-item {
  height: 46px;
  padding: 12px 20px;
  color: #111213;
  display: inline-block;
  font-size: 14px;
}
.menu-item:hover,
.menu-item-active {
  background-color: #faeab1 !important;
  color: black !important;
  transition: 0.2s !important;
  font-weight: bold;
}

main {
  /* background: #faf8f1; */
}
.ant-row {
  /* background: #faf8f1; */
}
.ant-card {
  text-align: center;
  background: #faf8f1;
  border: 1px solid #faeab1 !important;
}
.ant-card:hover {
  box-shadow: 0 0 8px rgb(221, 222, 224);
}
.ant-card-body {
  background: #faeab1;
  border-radius: 0 0 8px 8px !important;
}
.ant-card-body h2 {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.make-layout {
  width: 600px;
  margin: 0 auto;
  background: #757f81;
  padding: 20px;
}
.site-layout {
  width: 1200px;
  margin: 0 auto;
}
.ant-input {
  border-color: #e5ba73 !important;
  border-radius: 0;
}
.ant-input:hover,
.ant-input:active,
.ant-input:after,
.ant-input:focus {
  border-color: #e5ba73 !important;
}

@media (max-width: 899px) {
  .site-layout {
    width: 100%;
  }
}

.ant-radio-group {
  width: 100%;
}
.ant-btn > span {
  font-weight: bold;
  /* font-family: "YESMyoungjo-Regular", sans-serif; */
}
.ant-btn-primary {
  background-color: #0088ff !important;
}
.test-subtitle {
  font-size: 18px;
  color: rgba(28, 116, 233, 1);
  font-weight: bold;
}

/* start - test */
.test-main-background {
  background: transparent;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(1, 1, 1, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(1, 1, 1, 1), rgba(0, 0, 0, 0));
}
.test-main {
  position: relative;
  color: white;
  height: 100% !important;
}
.test-main.loading {
  height: 100vh !important;
}
.test-main > .ant-layout {
  background: transparent;
}
.test-layout {
  width: 900px;
  margin: 0 auto;
}
.play-layout {
  padding-top: 0px !important;
  width: 400px;
}
.test-logo {
  margin-top: 40px;
}
.test-logo > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: black;
}
.test-logo > p {
  margin: 0 auto;
  font-size: 16px;
  color: #1f2022;
}
.test-logo > .name-input {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
.btn-start {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  font-weight: bold;
}
.btn-result {
  width: 336px;
  height: 40px;
  margin: 0 auto;
  font-weight: bold;
}
.test-play-img {
  width: 100%;
  /* padding-top: 20px; */
}

.test-play-title {
  /* font-family: "YESMyoungjo-Regular", sans-serif; */
  font-weight: bold;
  margin-top: 10px;
  /* padding: 10px; */
  padding: 0 10px;
  font-size: 24px;
  color: #c58940;
}
.test-play-radio {
  padding: 4px 10px;
  margin-inline-end: 0px;
}
.ant-space,
.ant-space-item {
  width: 100%;
  margin-bottom: 4px;
}
.ant-space-item > label {
  width: 100%;
}
.test-result-text {
  padding: 10px;
  font-size: 18px;
  line-height: 1.63;
}

.plus-add {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}
.btn-kakao-plus {
  width: 100%;
  background-color: #fae100;
  color: #3a1d1d;
  border: 1px solid #f0da1c;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-kakao-plus:hover {
  color: #332121 !important;
  background-color: #f1da0b !important;
  border: 1px solid #f0da1c !important;
}
.btn-kakao-plus img {
  width: 40px;
  height: 40px;
}

@media (max-width: 1200px) {
  header {
    width: 100%;
  }
  header > .header-wrap {
    padding-left: 10px;
    /* margin: 7px auto; */
    width: 100%;
  }
  header > .mindpang-menu {
    padding: 0px;
  }
  .test-logo {
    margin-top: 0px;
  }
  .test-logo > h1 {
    padding-top: 20px;
  }
  .test-layout {
    width: 100%;
  }
  .test-play-img {
    padding-top: 0;
  }
  .test-logo > p {
    padding: 0 10px;
  }
  .search-layout {
    width: 100% !important;
  }
  .ant-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .input-button-wrap {
    padding: 10px;
  }
  header > .mindpang-menu-wrap {
    overflow-x: auto;
    width: 100%;
    margin-top: 0px !important;
    background-color: #faf8f1;
  }
  header > .mindpang-menu-wrap > .mindpang-menu {
    width: 398px;
    padding: 0;
  }
  .play-layout {
    width: 100%;
  }
}

.footer-info.first {
  padding-top: 20px;
}
.footer-info {
  background-color: #e6e6e6;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c5c2c2;
  font-size: 12px;
}
.ant-radio-wrapper span {
  color: #dd9d35;
  /* font-family: "YESMyoungjo-Regular", sans-serif; */
}

input[type="radio"] {
  background-color: #fff;
  border: 2px solid #e5ba73;
}
input[type="radio"]:checked {
  background-color: #e5ba73;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #e5ba73 !important ;
  background-color: #e5ba73 !important;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #c58940;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #faeab1;
  background-color: #faeab1;
}

.loading-title,
.result-title {
  color: #c58940;
}

.test-result-text {
  color: #e5ba73;
}

.test-layout h2 {
  color: black;
}
.ant-input-search-button {
  background: #faeab1;
}

.category-sidebar-text {
  color: #c58940;
}
.category-sidebar-title {
  color: rgba(1, 1, 1, 1);
}
.search-layout {
  width: 1180px;
  margin: 0 auto;
}
.ant-list-item {
  padding-inline: 0px !important;
  padding: 0px !important;
}
.ant-list-item > a {
  padding: 12px;
}
.btn-coupang {
  width: 336px;
  margin: 5px auto;
  background-color: #d92e21;
  border: 1px solid #d92e21;
  color: white;
}
.btn-coupang:hover,
.btn-coupang > span:hover {
  background-color: #e45d53;
  border: 1px solid #e45d53 !important;
  color: white !important;
}
.btn-twitter {
  width: 336px;
  margin: 5px auto;
  background-color: #53a7e7;
  border: 1px solid #53a7e7;
  color: white;
}
.btn-twitter:hover,
.btn-twitter > span:hover {
  background-color: #3495df;
  border: 1px solid #3495df !important;
  color: white !important;
}
.btn-kakao {
  width: 336px;
  margin: 5px auto;
  background-color: #f3db00;
  border: 1px solid #f3db00;
  color: black;
}
.btn-kakao:hover,
.btn-kakao > span:hover {
  background-color: #d4c005;
  border: 1px solid #d4c005 !important;
  color: black !important;
}
.btn-facebook {
  width: 336px;
  margin: 5px auto;
  background-color: #4c6ea2;
  border: 1px solid #4c6ea2;
  color: white;
}
.btn-facebook:hover,
.btn-facebook > span:hover {
  background-color: #587eb6;
  border: 1px solid #587eb6 !important;
  color: white !important;
}
.btn-mindpang {
  width: 336px;
  margin: 5px auto;
  background-color: #c58940 !important;
  border: 1px solid #c58940 !important;
  color: white !important;
}
.btn-mindpang:hover,
.btn-mindpang > span:hover {
  background-color: #ca995e !important;
  border: 1px solid #ca995e !important;
  color: white !important;
}
a.gflag {
  vertical-align: middle;
  font-size: 24px;
  padding: 1px 0;
  background-repeat: no-repeat;
  background-image: url(//gtranslate.net/flags/24.png);
}
a.gflag img {
  border: 0;
}
a.gflag:hover {
  background-image: url(//gtranslate.net/flags/24a.png);
}

.ant-card-small > .ant-card-body {
  padding: 0 !important;
}
.ant-layout {
  background: inherit !important;
}
.adsense-dev {
  width: 100%;
  height: 360px;
  background-color: #2d3436;
  margin: 0 auto;
}
.ant-space-vertical {
  padding: 0 10px;
}
